[submodule "Automacao-Climas"]
	path = Automacao-Climas
	url = https://github.com/ViniMorei/Automacao_Climas.git
[submodule "Monitoramento-Jogos"]
	path = Monitoramento-Jogos
	url = https://github.com/ViniMorei/Monitoramento_Jogos.git
[submodule "Produtos-POO"]
	path = Produtos-POO
	url = https://github.com/ViniMorei/Produtos_POO.git
[submodule "Forms-POO"]
	path = Forms-POO
	url = https://github.com/ViniMorei/Forms_POO.git
[submodule "Veiculos-POO"]
	path = Veiculos-POO
	url = https://github.com/ViniMorei/Veiculos_POO.git
